section#summary {

  .Summary {
    width: 576px;
    height: 1, 309px;
    gap: 0px;
    opacity: 0px;

  }

  .hr-dashed {
    border: 0px;
    background-color: #FFFF;
    border-top: 3px dashed #68B8ED;
  }

  .upper1 {
    font-family: Elice DX Neolli;
    font-size: 48px;
    font-weight: 350;
    line-height: 48px;
    text-align: center;
    color: #68B8ED;
    margin-top: 66px;

  }

  #upper11 {
    color: #57CC99;
  }

  .upper2 {
    font-family: Elice DX Neolli;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #68B8ED;
  }

  .summarymid {
    font-family: Elice DX Neolli;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #68B8ED;
  }

  .green {
    color: #57CC99;
  }

  .pricetitle {
    font-family: Elice DX Neolli;
    font-size: 32px;
    font-weight: 400px;
    line-height: 38.4px;
    text-align: center;
    margin-top: 25px;
  }

  #price {
    color: #68B8ED;
  }

  #line {
    margin-left: 227.5px;
    margin-top: 66px;
    margin-bottom: 66px;
  }

  .pricemain {
    font-family: Elice DX Neolli;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    text-align: center;
    color: black;
  }

  .summarylower {
    background-color: #F5F5F5;
    width: 576px;
    height: 302px;
    font-family: Elice DX Neolli;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }

  #lower1 {
    height: 100px;
  }

  .summarylower2 {
    background-color: #F5F5F5;
    width: 576px;
    height: 302px;
    border-left: 0px;
    border-top: 20px;
    font-family: Elice DX Neolli;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;

    table {
      border-collapse: collapse;
    }

    th {
      padding: 0;
    }
  }

  #lower2 {
    height: 100px;
  }

  .red-strike {
    color: black;
    text-decoration: line-through;
    text-decoration-color: red;
  }

  .arrow {
    width: 50px;
    height: 50px;
    border-collapse: collapse;
    color: black;
    font-size: 25px;
    cursor: pointer;
  }

  .arrow th {
    padding: 0;
  }

  .arrow::before {
    content: '\2192';
  }

  .kakaotalk {
    border-collapse: collapse;
  }

  .kakaotalk th {
    padding: 0;
  }





}