@import url('//fonts.googleapis.com/earlyaccess/nanumpenscript.css');
section#schedule {
  

  .schedule {
    width: 577px;
    height: 1025px;
    background-image: url(/assets/Schedulebg\ 1.png);
    background-color: #00000099;
    color: #FFFFFF;
  }

  .upeertitle {
    font-size: 32px;
    text-align: center;
    margin: 0;
    letter-spacing: -2px;
    padding-top: 25px;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.75);
    font-family: Elice DX Neolli;
  }

  .subtitle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 55px;
    font-family:'Nanum Pen Script';
    text-shadow: 0px 2px 4px #1E1212;
  }

  .detail1 {
    margin-left: 56.5px;
    font-family: Elice DX Neolli;
    line-height: 22px;
    font-size: 16px;
  }

  #detail1 {
    margin-right: 25px;
    margin-left: -15px;
  }


  #detail2 {
    margin-right: 25px;
    margin-left: -15px;

  }

  #detail3 {
    margin-right: 25px;
    margin-left: -15px;
  }


  #detail4 {
    margin-right: 25px;
    margin-left: -15px;
  }


  #detail5 {
    margin-right: 25px;
    margin-left: -15px;
  }


  #detail6 {
    margin-right: 25px;
    margin-left: -15px;
  }


  #detail7 {
    margin-right: 25px;
    margin-left: -15px;
  }

  #ten{
    font-family: Sandoll GyeokdongGL2 TTF;
font-size: 16px;
font-weight: 350;
line-height: 16px;
text-align: left;

  }
}