section#commonbenefit {
  .commonbenefit {
    width: 576px;
    height: 576px;
  }

  #common1 {
    font-family: Spoqa Han Sans Neo;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    padding-top: 30px;
  }

  #common2 {
    font-family: Spoqa Han Sans Neo;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  #common3 {
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
  }

  #common4 {
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    line-height: 31.2px;
    text-align: center;
    margin-top: -20px;
  }

  .common {
    width: 576px;
    height: 123.25px;
    padding: 48px 10px 0px 10px;
    gap: 10px;
    opacity: 0px;
    border-collapse: collapse;

    table {
      border-collapse: collapse;
    }

    th {
      padding: 0;
    }
  }

  #talk {
    border-collapse: collapse;
    padding: 0;
  }

  #arrow {
    width: 30px;
    height: 30px;
  }

  .kakaotalk {
    width: 576px;
    height: 123.25px;
    gap: 10px;
    opacity: 0px;
    margin-top: -20px;
    border-collapse: collapse;
  }

  .kakaotalk th {
    padding: 0;
  }

  #lower {
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.02px;
    text-align: center;
  }


}