section#benefitlower {
  .benefitlower {
    width: 576px;
    height: 576px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background-color: #FEE300;
    ;
  }

  .qr {
    width: 576px;
    height: 247px;
    gap: 10px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #vector {
    padding-left: 60px;
    padding-right: 10px;
  }

  #coconut {
    font-family: Spoqa Han Sans Neo;
    font-size: 36px;
    font-weight: 700;
    line-height: 45.07px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  .plus {
    font-family: Elice DX Neolli;
    font-size: 24px;
    font-weight: 500;
    line-height: 26.4px;
    text-align: center;
    margin-top: 95px;
  }
}