@import url("Elice DX Neolli.css");

:root {
  --bg-color: #f0f3f4;
  --font-color: #22577a;
  --white: #ffffff;
  --black: #000000;
}


@font-face {
  font-family: 'PyeongChang Peace';
  src: url('/assets/fonts/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChang Peace';
  src: url('/assets/fonts/PyeongChangPeace-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

section {
  position: relative;
  width: 576px;
  margin: auto;
}

body {
  background-color: var(--bg-color);
}