section#details {

  .detail {
    width: 576px;
    height: 2441px;
    padding: 32px, 0px, 64px, 0px;
    position: relative;
  }

  .detailupper {
    background: url('/assets/DetailUpperMain.png');
    width: 576px;
    height: 200px;
    left: -60px;
    gap: 0px;
    opacity: 0px;
    clip-path: polygon(0% 85%, 100% 100%, 100% 0%, 0% 50%);
  }

  .detailupper2 {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #CFFCFF;
  }

  .detailupper3 {
    position: absolute;
    top: 25px;
    left: 35px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #68B8ED;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
    font-family: Elice DX Neolli;
  }

  .detailslowerbird {
    margin-top: 20px;
    height: 83px
  }

  #birdlocation {
    margin-right: 30px;
    margin-left: 50px;
  }

  #bird {
    font-family: Pretendard;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
  }

  #birdsub {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 200;
    line-height: 19.09px;
    text-align: left;
  }

  #upper1 {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 288px;
    margin-bottom: -8px;
    
    img {
      border-radius: 15px;
    }
  }

  #upper2 {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 288px;
  }


  .detailslowerwild {
    margin-top: 20px;
    height: 83px
  }

  #wildlocation {
    margin-right: 30px;
    margin-left: 50px;
  }

  #wild {
    font-family: Pretendard;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
  }

  #wildsub {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 200;
    line-height: 19.09px;
    text-align: left;
  }

  #mid1 {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 288px;
    margin-bottom: -8px;

    img {
      border-radius: 15px;
    }
  }

  #mid2 {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 288px;
  }

  .detailsloweropen {
    margin-top: 20px;
    height: 83px
  }

  #openlocation {
    margin-right: 30px;
    margin-left: 50px;
  }

  #open {
    font-family: Pretendard;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
  }

  #opensub {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 200;
    line-height: 19.09px;
    text-align: left;
  }

  #lower1 {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 288px;
    margin-bottom: -8px;
    
    img {
      border-radius: 15px;
    }
  }

  #lower2 {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 288px;
  }

  .line {
    position: absolute;
    height: 2049px;
    border-left: 2px solid black;
    left: 73px;
    transform: translateX(-50%);
    z-index: -1;
  }
}