.carservice{
width: 576px;
height: 1699.87px;
padding: 48px, 0px, 48px, 0px;
background:linear-gradient(180deg, rgba(34, 87, 122, 0.95) 0%, rgba(0, 0, 0, 0.95) 60.5%, rgba(0, 0, 0, 0.855) 86.5%, rgba(34, 87, 122, 0.57) 100%);
;
}